//<INPUT>
// Сниппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 10px !important;
	width: 100%;
	display: block;
	padding: 12px 14px;
	border: 1px solid #e1d9d3;
	caret-color: inherit;
	transition: border-color 0.2s ease, box-shadow 0.2s ease;

	&.--form-focus,
	&:focus {
		outline: none;
		border-color: #e39157;
		box-shadow: 0 0 0 3px rgba(227, 145, 87, 0.18);
	}

	&.--form-error {
		border-color: #d14343;
		box-shadow: 0 0 0 3px rgba(209, 67, 67, 0.15);
	}
}

.form__item.--form-error {
	.input {
		border-color: #d14343;
		box-shadow: 0 0 0 3px rgba(209, 67, 67, 0.15);
	}
}
.input[placeholder]:not([data-fls-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
textarea.input {
	resize: vertical;
	padding: 0px 0px;
}
